{% extends "base.html" %}
  
{% block title %}Add New Employee Records{% endblock title %}
  
{% block content %}
<div class="col-md-15">    
<form action="{% url 'addnew' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}  
    <div class="container">  
        <div class="col-20">  
        <h3>Enter Details</h3>  
        </div>    

        <div class="mb-3"> 
            <label>Name:</label>  
            {{ form.name }}   
        </div> 
        <div class="mb-3"> 
            <label>Email:</label>  
            {{ form.email }}   
        </div>  
        <div class="mb-3"> 
            <label>Contact:</label>  
            {{ form.contact }}   
        </div>
        <div class="mb-3"> 
            <label>Address:</label>  
            {{ form.address }}   
        </div>
        <div class="mb-3"> 
            <label>Image:</label>  
            {{ form.image }}   
        </div>
        
        <div class="mb-3"> 
            <button type="submit" class="btn btn-primary">Submit</button>    
        </div> 
    </div>  
    </form>  
</div> 
{% endblock content %}
