{% extends "base.html" %}
{% block title %}Announcements{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <h2>Announcements</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Here are the latest announcements:</p>
            <ul>
                <li>Registration is now open for the next race</li>
                <li>The race start time has been changed to 8:00 am</li>
                <li>There will be a free training session next Saturday</li>
            </ul>
        </div>
    </div>
{% endblock %}
